@font-face {
    font-family: noto;
    src: url("fonts/Noto_Sans/NotoSans-Regular");
}

body {max-width: 960px;
  margin: auto;
  font-family: "NotoSans";}

ul {list-style-type: none;
  margin: auto;}

ul li {float: left;}

ul li a {display:block;
  padding:20px 40px;
  text-decoration: none;
  color: red;
  margin:5px 5px;
  background-color: blue;
}

a:hover {color: white;}

#title {clear: left;
 color: black;
 font-family: "Helvetica";}
